<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.PDFViewer" version="4.1.0" targetFramework="net46" />
  <package id="ini-parser" version="2.5.2" targetFramework="net46" />
  <package id="iTextSharp-LGPL" version="4.1.6" targetFramework="net46" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.14.1" targetFramework="net46" />
</packages>